@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300&display=swap');

@keyframes classShow{
    from {position: relative; top: -25%}
    to {position: relative; top: 0%}
}

@keyframes classHide{
    from{position: relative; top: 0%}
    to {position: relative; top: -25%}
}

:root{
    --dark-blue: rgb(0, 0, 78);
    --light-blue: rgb(82, 82, 150);
}

body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: max-content 1fr;
    row-gap: 1rem;
}

#container{
    height: 100vh;
}

/*Header*/
.header{
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 6rem;
    padding: 0 1em 0 3em;
    box-shadow: 0px 1px 5px var(--dark-blue);
}

.header > span {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
}

.header > div {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem; 
    font-family: 'Fjalla One', sans-serif;   
}

.header button {
    font-size: 1.3rem;
    font-family: 'Fjalla One', sans-serif;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    cursor: pointer;
}

/*Menu*/
.menu{
    height: calc(100% - 6rem);
    width: 15rem;
    background-color: var(--light-blue);
    display: grid;
    grid-template-rows: max-content max-content;
}

.menu ul{
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 1.3rem;
    justify-self: center;
    padding-top: 1.5rem;
    padding-left: 0;
    list-style: none;
}

ul li{
    cursor: pointer;
}

ul li:hover{
    color: rgb(211, 211, 211)
}

#today::before{
    content: url(./imgs/today.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}

#week::before{
    content: url(./imgs/week.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}

#month::before{
    content: url(./imgs/month.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}

#anytime::before{
    content: url(./imgs/anytime.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}

#classes::before{
    content: url(./imgs/down.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}

.menu > div {
    color: rgb(221, 221, 221);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    justify-self: center;
    margin-top: 1.2rem;
    display: none
}

.menu > div.show{
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 1rem;
    animation-name: classShow;
    animation-duration: 0.2s;
}

.menu > div.show a{
    cursor: pointer;
}

#Personal::before{
    content: url(./imgs/personal.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}

#Work::before{
    content: url(./imgs/work.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}

#Studies::before{
    content: url(./imgs/study.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}

#Shopping::before{
    content: url(./imgs/shopping.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}

#Other::before{
    content: url(./imgs/other.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}